<div class="container-fluid w-100 h-100 bg-darkblue">
    <%= header_two %>



  <div class="row">
    <div class="col-6 mx-auto text-center d-flex flex-column align-items-center">

      <% @groups.each do |group| %>
      <% next if group.name == 'None'%>
      <%= link_to group_path(group), class: 'w-360' do %>
        <div class="cont border-bottom d-flex flex-column m-3 pb-2">
          <div class="d-flex align-items-baseline justify-content-center">
            <%= fa_icon group.icon, class: 'f-s-2 text-white' %> <p class='text-white h5'> <%= group.name %> </p> 
          </div>
           <div class="d-flex align-items-baseline justify-content-center">
              <small class='text-white'> Created: <%= group.created_at.strftime("%B, %d, %Y") %> </small> 
          </div>     
           <div class="d-flex align-items-baseline justify-content-center">
              <small class='text-white'> Project: <%= group.project.name %> </small> 
          </div>      
          </div>   
        <% end %>
      <% end %>
    </div>
  </div>

<div class="row">
  <div class="col-12">
    <%= link_to "Add new", new_group_path, class: 'btn btn-success w-100'%>
  </div>
</div>
</div>

