<div class="container-fluid w-100 h-100 bg-darkblue">

  <div class="row">
    <div class="col-6 mx-auto text-center">
      <%= user_image(current_user) %>

      <h4 class="h1 text-white"> <%= @user.name %> </h4>
    </div>
  </div>

  <div class="row">
    <div class="col-6 mx-auto text-center d-flex flex-column align-items-center">
      <%= link_to edit_user_registration_path(current_user), class: 'text-white h5 w-25 p-3 w-50 border-bottom' do %>
        <%= fa_icon "cog" %> Account Settings
      <% end %>

      <%= link_to tasks_path, class: 'text-white h5 w-25 p-3 w-50 border-bottom' do %>
        <%= fa_icon "briefcase" %> See all my tasks
      <% end %>

      <%= link_to new_task_path, class: 'text-white h5 w-25 p-3 w-50 border-bottom' do %>
        <%= fa_icon 'paper-plane' %> New task
      <% end %>

      <%= link_to externals_task_path, class: 'text-white h5 w-25 p-3 w-50 border-bottom' do %>
        <%= fa_icon "globe" %> See all external tasks
      <% end %>


      <%= link_to groups_path, class: 'text-white h5 w-25 p-3 w-50 border-bottom' do %>
        <%= fa_icon "columns" %> See all groups
      <% end %>
    </div>
  </div>

</div>

