<div class="container">

<div class="row">
  <div class="col-12">
    <div class="d-flex justify-content-between bg-white shadow-sm p-3 border">
      <h6 class="h6 text-muted">
        Here are all employees from your department
      </h6>
      <h6 class="h6">
        <%= @employees.count %>
      </h6>
    </div>
  </div>
</div>
<% @employees.each do |employee| %>
  <div class="row my-3">
    <div class="col-12">
        <div class="media bg-white shadow-sm border p-2">
        <%= user_image_small(employee) %>

          <div class="media-body">
            <div class="d-flex justify-content-between pt-2"> <p class="m-0 p-0 text-muted"> <%= employee.name %> </p> <p class="m-0 p-0"> <%= link_to 'Manage tasks', tasks_path(:user_id => employee.id)  %> </p>  </div>
            <div class="d-flex justify-content-between pt-1"> <p class="m-0 p-0 text-muted"> <%= 'Period of service: ' %> </p> <p class="m-0 p-0 text-muted"> <%=  working_period(employee) %> </p>   </div>
          </div>

        </div>
    </div>
  </div>
  <div class="row">
   <div class="col-12"> <%= link_to 'Initiate a private chat', "/new_chat/#{employee.id}", method: :post, remote: true, class: 'btn btn-success', id: 'chat-btn'%> </div> 
    <div id="chat-container"></div>
  </div>
<% end %>
</div>