<!DOCTYPE html>
<html>
  <head>
    <title>Capstone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= restrict_header %>

    <div class="container-fluid bg-gray p-0 vh-95">
    <%= render 'layouts/messages'%>

      <%= yield %>
 
    <div class= <%= username %> > 
    <div id="notice-chatss"></div></div>
    <%= render 'layouts/chat'%>
    </div>
  </body>
</html>
